body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: beige;
}
.calculator {
  margin: auto;
  border: groove;
  background-color: lightgray;
}
#display {
  text-align: right;
  border: 1px solid black;
  background-color: white;
}
#score, #cs, #ps {
  display: inline;
}
